th{
	background-color: #39FF33;
}

td{

	width: 75px;
	height: 75px;
	vertical-align: top;
}

#Days{
	font-weight: bold;
}

table{
	border-spacing: 0;
	border-radius: 0 0 25px 25px;
	border: solid 2px;
}

tr:nth-child(odd){
	background-color: #FFCA33;
}

tr:nth-child(even){
	background-color: #339FFF;
}

tr:last-child{
	border-radius: 0 0 25px 25px;
}

tr:last-child>td:first-child{
	border-radius: 0 0 0 25px;
}

tr:last-child>td:last-child{
	border-radius: 0 0 25px 0;
}


p{
	background-color: #39FF33;
	width: 714px;
	
	margin: 0px;
	text-align: center;
	border-spacing: 0;
	display: inline-block;
}

caption{
	background-color: #C8C9CA;
	border-radius: 25px 25px 0 0 ;
}

.old, .new{
	background-image: linear-gradient(#DCDCDC 0%, #ECECEC 100%);
	color: #51A39D;
}	

span{
	display: block;
	visibility: hidden;
	text-align: center;
}

td:hover>span{
	visibility: visible;
}

.special{
	background-color: #52F7EF;	
}
